# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

data_path = 'D:/GitHub/2nd-ML100Days/data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
"""
Your Code Here
"""
df['Cabin'] = df['Cabin'].fillna('None')
mean_df = df.groupby(['Cabin'])['Fare'].mean().reset_index()
mode_df = df.groupby(['Cabin'])['Fare'].apply(lambda x: x.mode()[0]).reset_index()
median_df = df.groupby(['Cabin'])['Fare'].median().reset_index()
max_df = df.groupby(['Cabin'])['Fare'].max().reset_index()
temp = pd.merge(mean_df, mode_df, how='left', on=['Cabin'])
temp = pd.merge(temp, median_df, how='left', on=['Cabin'])
temp = pd.merge(temp, max_df, how='left', on=['Cabin'])
temp.columns = ['Cabin', 'Fare_Cabin_Mean', 'Fare_Cabin_Mode', 'Fare_Cabin_Median','Fare_Cabin_Max']

In [31]:
temp.head()

  Cabin  Fare_Cabin_Mean  Fare_Cabin_Mode  Fare_Cabin_Median  Fare_Cabin_Max
0   A10          40.1250          40.1250            40.1250         40.1250
1   A14          52.0000          52.0000            52.0000         52.0000
2   A16          39.6000          39.6000            39.6000         39.6000
3   A19          26.0000          26.0000            26.0000         26.0000
4   A20          56.9292          56.9292            56.9292         56.9292

In [32]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [34]:
# 原始特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
train_X = MMEncoder.fit_transform(df)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7038635542329971

In [44]:
# 新特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
df['Cabin'] = temp['Cabin']
df_add = df.merge( temp, how='left', on=['Cabin'])
df_add.drop(['Cabin'],axis=1,inplace=True)
df_add.fillna(-1,inplace=True)
train_X = MMEncoder.fit_transform(df_add)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7027526547217928

In [45]:
df_add

,Pclass,Age,SibSp,Parch,Fare,Fare_Cabin_Mean,Fare_Cabin_Mode,Fare_Cabin_Median,Fare_Cabin_Max
0,3,22.0,1,0,7.2500,40.1250,40.1250,40.1250,40.1250
1,1,38.0,1,0,71.2833,52.0000,52.0000,52.0000,52.0000
2,3,26.0,0,0,7.9250,39.6000,39.6000,39.6000,39.6000
3,1,35.0,1,0,53.1000,26.0000,26.0000,26.0000,26.0000
4,3,35.0,0,0,8.0500,56.9292,56.9292,56.9292,56.9292
5,3,-1.0,0,0,8.4583,30.0000,30.0000,30.0000,30.0000
6,1,54.0,0,0,51.8625,50.4958,50.4958,50.4958,50.4958
7,3,2.0,3,1,21.0750,35.5000,35.5000,35.5000,35.5000
8,3,27.0,0,2,11.1333,31.0000,31.0000,31.0000,31.0000
9,2,14.0,1,0,30.0708,50.0000,50.0000,50.0000,50.0000
10,3,4.0,1,1,16.7000,81.8583,81.8583,81.8583,81.8583
11,1,58.0,0,0,26.5500,0.0000,0.0000,0.0000,0.0000
12,3,20.0,0,0,8.0500,34.6542,34.6542,34.6542,34.6542
13,3,39.0,1,5,31.2750,35.5000,35.5000,35.5000,35.5000
14,3,14.0,0,0,7.8542,30.6958,30.6958,30.6958,30.6958
15,2,55.0,0,0,16.0000,512.3292,512.3292,512.3292,512.3292
16,3,2.0,4,1,29.1250,0.0000,0.0000,0.0000,0.0000
17,2,-1.0,0,0,13.0000,57.9792,57.9792,57.9792,57.9792
18,3,31.0,1,0,18.0000,33.5000,33.5000,33.5000,33.5000
19,3,-1.0,0,0,7.2250,57.0000,57.0000,57.0000,57.0000
20,2,35.0,0,0,26.0000,71.0000,71.0000,71.0000,71.0000
21,2,34.0,0,0,13.0000,80.0000,80.0000,80.0000,80.0000
22,3,15.0,0,0,8.0292,211.3375,211.3375,211.3375,211.3375
23,1,28.0,0,0,35.5000,61.9792,61.9792,61.9792,61.9792
24,3,8.0,3,1,21.0750,69.3000,69.3000,69.3000,69.3000
25,3,38.0,1,5,31.3875,29.7000,29.7000,29.7000,29.7000
26,3,-1.0,0,0,7.2250,26.5500,26.5500,26.5500,26.5500
27,1,19.0,3,2,263.0000,49.5000,49.5000,49.5000,49.5000
28,3,-1.0,0,0,7.8792,27.7208,27.7208,27.7208,27.7208
29,3,-1.0,0,0,7.8958,79.2000,79.2000,79.2000,79.2000
...,...,...,...,...,...,...,...,...,...
861,2,21.0,1,0,11.5000,-1.0000,-1.0000,-1.0000,-1.0000
862,1,48.0,0,0,25.9292,-1.0000,-1.0000,-1.0000,-1.0000
863,3,-1.0,8,2,69.5500,-1.0000,-1.0000,-1.0000,-1.0000
864,2,24.0,0,0,13.0000,-1.0000,-1.0000,-1.0000,-1.0000
865,2,42.0,0,0,13.0000,-1.0000,-1.0000,-1.0000,-1.0000
866,2,27.0,1,0,13.8583,-1.0000,-1.0000,-1.0000,-1.0000
867,1,31.0,0,0,50.4958,-1.0000,-1.0000,-1.0000,-1.0000
868,3,-1.0,0,0,9.5000,-1.0000,-1.0000,-1.0000,-1.0000
869,3,4.0,1,1,11.1333,-1.0000,-1.0000,-1.0000,-1.0000
870,3,26.0,0,0,7.8958,-1.0000,-1.0000,-1.0000,-1.0000
871,1,47.0,1,1,52.5542,-1.0000,-1.0000,-1.0000,-1.0000
872,1,33.0,0,0,5.0000,-1.0000,-1.0000,-1.0000,-1.0000
873,3,47.0,0,0,9.0000,-1.0000,-1.0000,-1.0000,-1.0000
874,2,28.0,1,0,24.0000,-1.0000,-1.0000,-1.0000,-1.0000
875,3,15.0,0,0,7.2250,-1.0000,-1.0000,-1.0000,-1.0000
876,3,20.0,0,0,9.8458,-1.0000,-1.0000,-1.0000,-1.0000
877,3,19.0,0,0,7.8958,-1.0000,-1.0000,-1.0000,-1.0000
878,3,-1.0,0,0,7.8958,-1.0000,-1.0000,-1.0000,-1.0000
879,1,56.0,0,1,83.1583,-1.0000,-1.0000,-1.0000,-1.0000
880,2,25.0,0,1,26.0000,-1.0000,-1.0000,-1.0000,-1.0000
881,3,33.0,0,0,7.8958,-1.0000,-1.0000,-1.0000,-1.0000
882,3,22.0,0,0,10.5167,-1.0000,-1.0000,-1.0000,-1.0000
883,2,28.0,0,0,10.5000,-1.0000,-1.0000,-1.0000,-1.0000
884,3,25.0,0,0,7.0500,-1.0000,-1.0000,-1.0000,-1.0000
885,3,39.0,0,5,29.1250,-1.0000,-1.0000,-1.0000,-1.0000
886,2,27.0,0,0,13.0000,-1.0000,-1.0000,-1.0000,-1.0000
887,1,19.0,0,0,30.0000,-1.0000,-1.0000,-1.0000,-1.0000
888,3,-1.0,1,2,23.4500,-1.0000,-1.0000,-1.0000,-1.0000
889,1,26.0,0,0,30.0000,-1.0000,-1.0000,-1.0000,-1.0000
890,3,32.0,0,0,7.7500,-1.0000,-1.0000,-1.0000,-1.0000